@media (max-width: 900px) {
    header {
        .navbar_serviços {
            display: none;
        }

        #menu {
            display: block;
            margin-right: 0.7rem;
            cursor: pointer;
        }

        #menu:hover {
            opacity: 0.3;
        }

        .menu_resp {
            border: 1px solid red;
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            right: 0;
            top: 4rem;
            background-color: rgba(56, 59, 66, 0.7);
        }

        .menu_open li {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            transition: all 0.1s ease-out;
            outline: none;
            margin-top: 10px;
        }

        .menu_open li button {
            background-color: #0D80F2;
            padding: 1rem;
            border-radius: 10px;
            font-weight: bold;
            border: none;
            transition: 0.3s;
        }

        .menu_open li a {
            color: #fff;
        }
    }
}

